In [ ]:
# importing numpy, alias as "np"

import numpy as np

In [ ]:
# core data type inside of numpy >> ARRAYS
# provide objects inside of arrays

import numpy as np

#np.array is a function

my_array = np.array([1, 2, 3, 4])

my_array.mean()

2.5

In [ ]:
# can do computation between arrays

#job titles

job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer'])

# base salaries

base_salaries = np.array([60000, 80000, 75000, 90000])

# bonus rates

bonus_rates = np.array([.05, .1, .08, .12])

total_salaries = base_salaries * (1 + bonus_rates)

np.mean(total_salaries)

83200.0

In [ ]:
# use NAN for null values (Not A Number)

#job titles

job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'AI Engineer'])

# base salaries

base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])

# bonus rates

bonus_rates = np.array([.05, .1, .08, .12, np.nan])

total_salaries = base_salaries * (1 + bonus_rates)

# use nanmean

np.nanmean(total_salaries)

83200.0